<div id="mspm-container">
    <h5>Чеклисты</h5>
    <dx-data-grid id="dataGrid"
    	[dataSource]="checklists"
    	keyExpr="id"
        (onEditingStart)="onEditingStart($event)"
        (onRowClick)="onRowClick($event)">
        <dxi-column
            caption="Название"
            dataField="description">
        </dxi-column>
        <dxo-editing
            [allowUpdating]="true"
            [allowDeleting]="false"
            [allowAdding]="false">
        </dxo-editing>
        <dxi-column type="buttons">
            <dxi-button name="edit"></dxi-button>
        </dxi-column>
    </dx-data-grid>
</div>