<dx-data-grid id="dataGrid"
	[dataSource]="interviewSettings"
	keyExpr="id"
    (onRowRemoving)="rowRemoving($event)"
    (onRowInserting)="rowInsertingOrUpdate($event)"
    (onRowUpdating)="rowInsertingOrUpdate($event)">
    <dxi-column
    	caption="Id"
        dataField="id"
        [width]="100"
        readOnly="true">
    </dxi-column>
    <dxi-column
    	caption="Включить напоминание об опросе"
        dataField="isEnabledNotification">
    </dxi-column>
    <dxi-column
    	caption="Время для отправки напоминания об опросе"
        dataField="notificationHour"
        [width]="150">
    </dxi-column>
    <dxi-column
    	caption="Включить доставку результатов опроса"
        dataField="isEnabledResultDistribution">
    </dxi-column>
    <dxi-column
   		caption="Время для отправки результатов опроса"
        dataField="resultDistributionHour"
        [width]="150">
    </dxi-column>
    <dxi-column
    	caption="День запуска опроса"
        dataField="cronExpression">
    </dxi-column>
    <dxi-column
    	caption="Почтовые ящики получателей опроса"
        dataField="recipients">
    </dxi-column>
    <dxo-editing
        [allowUpdating]="true"
        [allowDeleting]="true"
        [allowAdding]="true">
    </dxo-editing>
</dx-data-grid>
