<form class="login-form" (submit)="onSubmit($event)">
  <dx-form [formData]="formData" [disabled]="loading">

    <dxi-item dataField="login" editorType="dxTextBox" [visible]="!otpInput"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Логин'}">
      <dxi-validation-rule type="required" message="Введите логин"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="password" editorType="dxTextBox" [visible]="!otpInput"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Пароль', mode: 'password' }">
      <dxi-validation-rule type="required" message="Введите пароль"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="code" editorType="dxTextBox" [visible]="otpInput"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'СМС код', mask: '9999'}">
      <dxi-validation-rule type="required" message="Введите смс код"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item itemType="empty">{{message}}</dxi-item>
  </dx-form>

  <dx-button width="100%" type="default" [useSubmitBehavior]="true" text="Войти" [disabled]="loading">
  </dx-button>
</form>
