<div id="mspm-container">
    <div class="button-group">
        <dx-button
            (onClick)="back()"
            icon="back"
            label="Вернуться к чеклистам"
            id="back-button">
        </dx-button>
        <h5>Чеклист - {{title}}</h5>
    </div>
    <dx-data-grid id="dataGrid"
    	[dataSource]="questions"
    	keyExpr="id"
    	(onRowRemoving)="rowRemoving($event)"
    	(onRowInserting)="rowInserting($event)"
        (onRowUpdated)="rowUpdated($event)"
    	(onRowUpdating)="rowUpdating($event)"
        (onInitNewRow)="onEditorPreparing($event)">
        <dxi-column
            caption="Текст вопроса"
            dataField="text"
            [allowSorting]="false">
        </dxi-column>
        <dxi-column
            caption="Порядок в списке"
            dataField="order"
            sortOrder="asc"
            [width]="150"
            [visible]="false"
            [allowSorting]="false">
        </dxi-column>
        <dxo-editing
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true">
        </dxo-editing>
        <dxo-row-dragging
            [allowReordering]="true"
            [onReorder]="onReorder"
            [showDragIcons]="true"
        ></dxo-row-dragging>
    </dx-data-grid>
</div>