#plus-question{
	background-color: #eb4969;
	color: #fff;
	width: 250px;
	display: flex;
    flex-wrap: wrap;
    margin: 25px auto;
    justify-content: center;
	.dx-icon{
		color: #fff;
	}
}

#summary{
	clear: both;
    float: right;
    padding: 10px 0 20px;
}

.button-group{
	height: 30px;
    clear: both;
	#back-button{
		float: left;
		.dx-button-content{
			.dx-icon{
				color: #fff;
			}
		}
		background-color: #eb4969;
	}	

	#save-button{
		float: right;
	}
}


.switch{
	width: 500px;
	height: 40px;
	.dx-field-label{
		width: 400px
	}
	.dx-switch {
		margin: 0;
	}
}

.form-items{
	.dx-accordion{
		max-width: 100%;
	}

	table{
		width: 100%;
		.switch{
			width: 500px;
			height: 40px;
			.dx-field-label{
				width: 400px
			}
			.dx-switch {
				margin: 0;
				width: 35px;
			}
		}
		td{
			width: 50%;
			padding: 0 10px;
			.dx-widget{
				width: 100%;
				margin: 0px 10px 35px 10px;
			}
		}
	}

}

.form-group{
	clear: both;
	width: 100%;
	.dx-widget{
		float: left;
		margin: 0px 10px 35px 10px;
	}
}

.question-block{
	clear: both;
	padding-top: 30px;
}


h6{
	margin: 40px 0 20px 0;
	float: left;
	width: 100px;
}

.answers-block{
	#plus-answer{
		background-color: #eb4969;
		margin: 35px 0 20px 0;
	}
	padding-top: 20px;
	table{
		tr:first-child{
			td{
				text-align: left;
				max-width: 500px;
				padding-bottom: 15px;
			}
		}
	}
	tr{
		td:first-child{
			width: 500px;
			padding-right: 50px;
			.dx-widget{
				max-width: 500px;
			}
		}
		td{
			text-align: center;
		}
	}	
}
