<div id="mspm-container">
    <form (submit)="saveInterview($event)" (error)="formError($event)" id="interviewForm" #interviewForm="ngForm">
        <div class="button-group">
            <dx-button
                icon="back"
                label="Вернуться к чеклистам"
                id="back-button"
                (onClick)="back()">
            </dx-button>
        </div>
        <h5>Опрос - {{interview.name}}</h5>
        <div class="switch">
            <div class="dx-field-label">Включить опрос?</div>
            <dx-switch [(value)]="interview.isEnabled"></dx-switch>
        </div>
        <div class="form-items">
            <div class="form-group">
                <table>
                    <tr><td><dx-text-box [(value)]="interview.name" label="Название" [stylingMode]="stylingMode" [labelMode]="labelMode">
                            <dx-validator>
                                <dxi-validation-rule
                                  type="required"
                                  message="Название обязательно"
                                ></dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box></td>
                        <td>
                            <dx-select-box [(value)]="interview.type" 
                                            [dataSource]="InterviewTypeDisplay" 
                                            displayExpr="displayName" 
                                            valueExpr="key" 
                                            label="Тип опроса" 
                                            [stylingMode]="stylingMode" 
                                            [labelMode]="labelMode"
                                            [disabled]="true">
                            </dx-select-box>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <dx-text-box [(value)]="interview.description" label="Описание" [stylingMode]="stylingMode" [labelMode]="labelMode">
                            </dx-text-box>
                        </td>
                        <td>
                            <dx-text-box [(value)]="settings.recipients"  label="Получатель результатов оповещения" [stylingMode]="stylingMode" [labelMode]="labelMode">
                                <dx-validator>
                                    <dxi-validation-rule
                                      type="email"
                                    ></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                             <!-- <dx-check-box [(value)]="settings.isEnabledNotification" label="Включить напоминания" [stylingMode]="stylingMode" [labelMode]="labelMode"></dx-check-box> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="switch">
                            <div class="dx-field-label">Включить отправку push-уведомлений?</div>
                            <dx-switch [(value)]="settings.isEnabledNotification"></dx-switch>
                        </td>
                        <td>
                             <dx-date-box [value]="notificationHour" type="time" label="Время для отправки уведомлений" [stylingMode]="stylingMode" [labelMode]="labelMode"  [disabled]="!settings.isEnabledNotification" (onValueChanged)="changeNotificationHour($event)"> </dx-date-box>
                        </td>
                    </tr>
                    <tr>
                        <td class="switch">
                            <div class="dx-field-label">Включить отправку результатов на почту</div>
                            <dx-switch [(value)]="settings.isEnabledResultDistribution"></dx-switch>
                        </td>
                        <td>
                             <dx-date-box [value]="resultDistributionHour" type="time" label="Время для отправки результатов" [stylingMode]="stylingMode" [labelMode]="labelMode" [disabled]="!settings.isEnabledResultDistribution" (onValueChanged)="changeDistributionHour($event)"> </dx-date-box>
                        </td>
                    </tr>
                    <tr>
                        <td> <dx-date-box [value]="interviewDate" type="date" label="Дата опроса" [stylingMode]="stylingMode" [labelMode]="labelMode" (onInitialized)="initCronExpression()"  (onValueChanged)="changeCronExpression($event)"> </dx-date-box></td>
                    </tr>
                </table>
            </div>
            <div class="question-block">
                <h5>Вопросы</h5>
                <dx-accordion
                    #accordion
                    [dataSource]="interview.questions"
                    [multiple]="false"
                    [animationDuration]="300"
                    itemTemplate="item">
                   <div *dxTemplate="let question of 'title'">
                        <span>{{question.text}}&nbsp;</span>
                    </div>
                    <div *dxTemplate="let question of 'item'">
                        <table>
                            <tr>
                                <td>
                                    <dx-text-box [(value)]="question.text" label="Вопрос" [stylingMode]="stylingMode" [labelMode]="labelMode">
                                        <dx-validator>
                                            <dxi-validation-rule
                                              type="required"
                                              message="Текст вопроса обязателен"
                                            ></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-box>
                                </td>
                                <td>
                        <dx-select-box [(value)]="question.commentType" 
                                        [dataSource]="CommentTypeDisplay" 
                                        displayExpr="displayName" 
                                        valueExpr="key" 
                                        label="Тип комментария" 
                                        [stylingMode]="stylingMode" 
                                        [labelMode]="labelMode"
                                        [disabled]="true">
                        </dx-select-box>
                                </td>
                                <tr>
                                    <td>
                                        <dx-select-box [(value)]="question.questionType" 
                                                        [dataSource]="QuestionTypeDisplay" 
                                                        displayExpr="displayName" 
                                                        valueExpr="key" 
                                                        label="Тип вопроса" 
                                                        [stylingMode]="stylingMode" 
                                                        [labelMode]="labelMode"
                                                        [disabled]="true">
                                        </dx-select-box>
                                    </td>
                                </tr>
                        </table>
                        <div class="answers-block">
                            <h6>Ответы</h6>
                            <dx-button
                                icon="plus"
                                label="Добавить ответ"
                                id="plus-answer"
                                type="success"
                                (onClick)="addAnswer(question)">
                            </dx-button>
                            <table>
                                <tr>
                                    <td>Ответ</td>
                                    <td *ngIf="interview.type!='Smile'">Это правильный ответ</td>
                                </tr>
                                <tr *ngFor="let answer of question.answers">
                                    <td>
                                        <dx-text-box [(value)]="answer.text" caption="Ответ" [stylingMode]="stylingMode" >
                                            <dx-validator>
                                                <dxi-validation-rule
                                                  type="required"
                                                  message="Текст ответа обязателен"
                                                ></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </td>
                                    <td *ngIf="interview.type!='Smile'">
                                        <dx-check-box [(value)]="answer.isCorrect"></dx-check-box>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </dx-accordion>
                <dx-button
                    icon="plus"
                    stylingMode="contained"
                    type="default"
                    text="Добавить вопрос"
                    id="plus-question"
                    (onClick)="addQuestion()">
                </dx-button>
            </div>

        </div>
        <div class="button-group">
            <dx-button
                icon="save"
                label="Вернуться к чеклистам"
                text="Сохранить опрос"
                id="save-button"
                 [useSubmitBehavior]="true"
                type="success">
            </dx-button>
        </div>
        <dx-validation-summary id="summary"></dx-validation-summary>
    </form>
</div>