<div id="mspm-container">
    <h5>Эволюция</h5>
    <dx-data-grid id="dataGrid"
    	[dataSource]="items"
    	keyExpr="id"
    	(onRowRemoving)="rowRemoving($event)"
    	(onRowInserting)="rowInserting($event)"
    	(onRowPrepared)="onRowPrepared($event)">
        <dxi-column
        	caption="Ссылка"
            dataField="link"
            [allowSorting]="false"
            cellTemplate="cellTemplate">
            <div *dxTemplate="let cell of 'cellTemplate'">
                <a href="{{cell.text}}">{{cell.text}}</a>
            </div>
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column
        	caption="Действительна с"
            dataField="validFrom"
            dataType="date"
            sortOrder="desc"
            [allowSorting]="false"
            [width]="200">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxo-editing
            [allowUpdating]="false"
            [allowDeleting]="true"
            [allowAdding]="true">
        </dxo-editing>
    </dx-data-grid>
</div>