<div id="mspm-container">
    <h5>Опросы</h5>
    <dx-data-grid id="dataGrid"
    	[dataSource]="interviews"
    	keyExpr="id"
        (onEditingStart)="onEditingStart($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowRemoving)="rowRemoving($event)">
        <dxi-column
        	caption="Id"
            dataField="id"
            [width]="100"
            readonly="true">
        </dxi-column>
        <dxi-column
        	caption="Название"
            dataField="name">
        </dxi-column>
        <dxi-column
            caption="Дата опроса"
            dataField="interviewDate">
        </dxi-column>
        <dxi-column
        	caption="Описание"
            dataField="description">
        </dxi-column>
        <dxi-column
        	caption="Включено"
            dataField="isEnabled">
        </dxi-column>
        <dxi-column
        	caption="Тип опроса"
            dataField="type">
        </dxi-column>
        <dxo-editing
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true">
        </dxo-editing>
    </dx-data-grid>
</div>